In [1]:
import pandas as pd

In [2]:
df = pd.read_csv ('platforms_whole.csv')

In [3]:
df.head()

,id,show_title,show_year,imdb_rating,reel_rating,prime,netflix,disney,hulu
0,1,Stranger Things,2016,8.7,96.0,False,True,False,False
1,2,Dark,2017,8.8,93.0,False,True,False,False
2,3,The Queen's Gambit,2020,8.6,93.0,False,True,False,False
3,4,Mindhunter,2017,8.6,91.0,True,True,False,False
4,5,The Crown,2016,8.7,91.0,False,True,False,False

In [4]:
df["show_title"] = df["show_title"].str.lower()

In [5]:
df.head()

,id,show_title,show_year,imdb_rating,reel_rating,prime,netflix,disney,hulu
0,1,stranger things,2016,8.7,96.0,False,True,False,False
1,2,dark,2017,8.8,93.0,False,True,False,False
2,3,the queen's gambit,2020,8.6,93.0,False,True,False,False
3,4,mindhunter,2017,8.6,91.0,True,True,False,False
4,5,the crown,2016,8.7,91.0,False,True,False,False

In [6]:
df["show_title"] = df["show_title"].replace(',','', regex=True)

df.head()

,id,show_title,show_year,imdb_rating,reel_rating,prime,netflix,disney,hulu
0,1,stranger things,2016,8.7,96.0,False,True,False,False
1,2,dark,2017,8.8,93.0,False,True,False,False
2,3,the queen's gambit,2020,8.6,93.0,False,True,False,False
3,4,mindhunter,2017,8.6,91.0,True,True,False,False
4,5,the crown,2016,8.7,91.0,False,True,False,False

In [7]:
df.to_csv('platforms_whole_cleaned.csv', index=False)